.headerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid #eee;
}

.header_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left i {
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.header_left i:hover {
  color: #ff5a5a;
}

.headerBar h2 {
  font-weight: 700;
  cursor: pointer;
  color: #333;
}

.headerBar h2:hover {
  color: #ff5a5a;
}

.header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 30px;
  border: 1px solid #eee;
  border-radius: 20px;
  background-color: #fff;
  padding: 0 10px;
}

.searchInput .fa-search {
  margin-right: 5px;
  color: #dbdbdb;
}

.searchInput input {
  border: none;
  width: 80%;
}

.searchInput input::placeholder {
  color: #a1a1a1;
}

.searchInput input:focus {
  outline: none;
}

.searchInput:hover {
  border: 1px solid #c2c2c2;
}

.searchInput:hover .fa-search {
  color: #c2c2c2;
}

.search-dropdown {
  background-color: #fff;
  width: 220px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  position: absolute;
  top: 64px;
  right: 120px;
  padding: 20px 20px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}

.search-dropdown .noti {
  width: 100%;
  color: #555;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  padding-bottom: 14px;
  border-bottom: 1px solid #dcdcdc;
  font-size: 14px;
}

.keyWordBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.keyWordBox .keyWord {
  color: #999;
  font-size: 14px;
  font-weight: 400;
}

.keyWordBox .keyWord-delete {
  cursor: pointer;
  font-size: 14px;
  color: #cccccc;
}

.writingBtn {
  background-color: #333;
  border-radius: 20px;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.writingBtn:hover {
  background-color: #ff5a5a;
}

.main {
  display: flex;
}

.footerWrapper {
  height: 100px;
  border-top: 1px solid #eee;
  /* margin-top: 60px; */
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerWrapper > .info {
  color: #ff5a5a;
  font-size: 14px;
}

.footerWrapper > .info > span {
  color: #a1a1a1;
}
