.navbar_wrapper {
  width: 160px;
  background-color: white;
  top: 100px;
  display: flex;
  flex-direction: column;
  padding: 60px 40px;
  border-right: 1px solid #eee;
}

.postAll {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 14px;
}

.detailPost_wrapper {
  border-bottom: 1px solid #eee;
  padding-top: 14px;
  padding-bottom: 14px;
}

.category-wrapper {
  display: flex;
  align-items: center;
}

.file-icon,
.arrow-icon {
  margin-right: 10px;
  font-size: 14px;
  color: #c5c5c5;
}

.detailPost_wrapper .category-wrapper p,
.postAll p {
  font-size: 14px;
  color: #999;
  margin: 8px 0;
  cursor: pointer;
}

.detailPost_wrapper .arrow-icon,
.postAll .arrow-icon {
  display: none;
}

.detailPost_wrapper .category-wrapper:hover .file-icon,
.postAll:hover .file-icon {
  display: none;
}

.detailPost_wrapper .category-wrapper:hover .arrow-icon,
.postAll:hover .arrow-icon {
  display: block;
  color: #333;
  font-size: 10px;
}

.detailPost_wrapper .category-wrapper:hover p,
.postAll:hover p {
  color: #333;
}

.category-wrapper.active p,
.postAll.active p {
  font-weight: 500;
  color: #333;
}
.category-wrapper.active .file-icon,
.postAll.active .file-icon {
  display: none;
}

.category-wrapper.active .arrow-icon,
.postAll.active .arrow-icon {
  display: block;
  color: #333;
  font-size: 10px;
}
