.writing-wrapper {
  background-color: #f9f9f9;
  width: 100%;
  min-height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.writing-wrapper > .category {
  position: absolute;
  top: 90px;
  left: 20%;
  width: auto;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.category p {
  color: 222;
  margin: 0;
  margin-right: 4px;
}

.category .bottom-arrow {
  color: 999;
  padding-bottom: 10px;
}

.category-dropdown {
  position: absolute;
  top: 120px;
  left: 20%;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  background-color: #fff;
  padding: 10px 14px;
  border-radius: 10px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}

.category-dropdown p {
  font-size: 14px;
  color: #999;
  margin: 8px 0;
  cursor: pointer;
}

.category-dropdown i {
  margin-right: 10px;
  font-size: 14px;
  color: #c5c5c5;
}

.category-dropdown .food:hover i,
.category-dropdown .food:hover p,
.category-dropdown .travel:hover i,
.category-dropdown .travel:hover p,
.category-dropdown .world-travel:hover i,
.category-dropdown .world-travel:hover p {
  color: #555;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  width: 90%;
  min-height: 1200px;
  border-radius: 30px;
  margin-top: 50px;
  border: 1px solid #eee;
  box-shadow: 0 0px 5px #e1e1e1;
}

.text-wrapper > .title {
  width: 80%;
  height: 100px;
  margin-top: 50px;
  border: none;
  border-bottom: 1px solid #eee;
  padding-left: 20px;
}

.text-wrapper > .title::placeholder {
  font-size: 30px;
  color: #c8c8c8;
}

.text-wrapper > .title:focus,
.content:focus {
  outline: none;
}

.text-wrapper > .title:hover,
.content:hover {
  cursor: pointer;
}

.text-wrapper > .content {
  width: 80%;
  border: none;
  padding-left: 20px;
  padding-top: 50px;
}

.text-wrapper > .content::placeholder {
  font-size: 20px;
  color: #c8c8c8;
}

.writing-wrapper > .btn-wrapper {
  width: 250px;
  height: 40px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uploadBtn,
.cancelBtn {
  width: 45%;
  height: 100%;
  background-color: #333;
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.uploadBtn:hover,
.cancelBtn:hover {
  background-color: #ff5a5a;
}
